@model BuildRest.Modelo.Prato

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Prato</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           Restaurante
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurante.RestauranteNome)
        </dd>

        <dt>
           Prato
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PratoNome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PratoId }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
